* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    /* border: 1px solid black; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    /* border: 1px solid red; */
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input{
    width: 70%;
}

#button{
    width: 80px;
    height: 30px;
    border-radius: 9px;
    
}